*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.principal{
    font-size: 1em;
}

.article{
    font-size: 1em;
}

.secundaria{
    background-color: lightblue;
}

.content{
    display: flex;
    padding-left: 10px;
}

.paginas{
    padding: 30px;
    text-align: center;
}

.paginas a {
    padding: 10px;
}

header > h1{
    font-size: 1.2em;
    width: 65vw;
}
.header_principal div {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header{
    display: flex;
    background-color: #9AD8FF;
    font-size: 1.2em;
    padding: 10px;
}

a{
    text-decoration: none;
}

nav a {
    padding: 3px;
}

aside{
    padding: 30px;
    background-color: #3BFF94;
}

footer{
    background-color: #FFA268;
    padding: 20px;
    text-align: center;
}

footer h1{
    font-size: 1.2em;
}
